{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        Contacts
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body class="animsition">


<!-- Header -->
<header class="header-v4">
    <!-- Header desktop -->
    <div class="container-menu-desktop">

        <div class="wrap-menu-desktop how-shadow1">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="#" class="logo">
                    <img src="{% static 'images/icons/logo-01.png' %}" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">

                        <li>
                            <a href="product.html">Магазин</a>
                        </li>

                        <li>
                            <a href="shoping-cart.html">Заказы</a>
                        </li>

                        <li class="active-menu">
                            <a href="contact.html">Контакты</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="home.html"><img src="{% static 'images/icons/logo-01.png' %}" alt="IMG-LOGO"></a>
        </div>


        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="main-menu-m">
            <li>
                <a href="product.html">Магазин</a>
            </li>

            <li>
                <a href="shoping-cart.html">Заказы</a>
            </li>

            <li>
                <a href="contact.html">Контакты</a>
            </li>
        </ul>
    </div>
</header>


<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-94"
         style="background-image: url('{% static 'images/bg-01.png' %}'); background-color: black;">

</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Отправьте нам сообщение
                    </h4>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{ form.name }}
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        {{ form.email }}
                    </div>
                    <div class="bor8 m-b-30">
                        {{ form.message }}
                    </div>

                    <button type="submit"
                            class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Отправить
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>

                    <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Address
							</span>

                        <p class="stext-115 cl6 size-213 p-t-18">
                            Бишкек, Кыргызстан
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>

                    <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Номер телефона
							</span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            +996 500 60 76 76
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>

                    <div class="size-212 p-t-2">
							<span class="mtext-110 cl2">
								Адресс электронной почты
							</span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            love@sarnoz.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row" style="justify-content: center;">

            <div class="col-sm-12 col-lg-12 p-b-50">
                <h4 class="stext-301 cl0 p-b-30 txt-center">
                    O SARNOZ
                </h4>

                <p class="stext-107 cl7 txt-center">
                    Наша миссия - это то, что заставляет нас делать все возможное для расширения человеческого
                    потенциала. Мы делаем это, создавая инновационные спортивные инновации, делая наши продукты более
                    устойчивыми, создавая креативную и разнообразную глобальную команду и оказывая положительное влияние
                    на сообщества, в которых мы живем и работаем.
                </p>

                <div class="p-t-27 txt-center">
                    <a href="https://WWW.FB.COM/SARNOZZ" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/_SARNOZ" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="{% static 'images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved. WITH <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://sarnoz.com" target="_blank">SARNOZ</a>
            </p>
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})


</script>
<!--===============================================================================================-->
<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});


</script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>